.top {
    border-bottom: 1px solid #cfcfcf;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
}
.app {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
}
.nicklist {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat {
    position: absolute;
    left: 20%; top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid #8d8d8d;
}
.history {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
}
.history li {
    padding: 4px 0;
    clear: both;
    height: 28px;
    margin: 0;
}
.history li:last-child {
    margin-bottom: 4px;
}
.history li strong {
    float: left;
}
.history img.avatar {
    border-radius: 50px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    float: left;
}
.history strong {
    float: left;
}
.textarea {
    position: absolute;
    bottom: 0;
    height: 50px;
    left: 0;
    right: 0;
    border-top: 1px solid #ddd;
}
.history-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow-y: scroll;
}
.chat ul {
    position: absolute;
    bottom: 0;
    max-height: 100%;
    padding: 10px 2px 0 12px;
    width: 100%;
}
.chat ul div {
    display: block;
    margin: 0 0 0 12px;
    padding: 9px;
    border-radius: 16px;
    background-color: #f1f0f0;
    color: black;
    position: relative;
    line-height: 9px;
    height: 26px;
    float: left;
    top: -2px;
    cursor: text;
}
.chat ul .self div {
    background-color: #0084ff;
    color: white;
    margin-right: 10px;
}
.chat ul .typing div {
    opacity: 0.5;
}
#message {
    height: 100%;
}
#message input {
    border: 0px;
    height: 100%;
}
.top h1 {
    font-size: 22px;
    margin-top: 7px;
    margin-left: 20px;
}
#username-set input {
    margin-bottom: 10px;    
    margin-top: 10px;
}
#username-set input[type=text] {
    margin-right: auto;
    margin-left: auto;
    width: 30%;
}
ul {
    list-style-type: none;
}
.chat ul .self div a {
    color: white;
    text-decoration: underline;
}
.chat ul div:after {
    content: "◀";
    display: block;
    position: absolute;
    left: -8px;
    top: 8px;
    color: #f1f0f0;
    font-weight: bold;
}
.chat ul .self div:after {
    color: #0084ff;
}
#online-list {
    margin: 10px 0 0 0;
    font-size: 17px;
    padding: 0;
    height: 50px;
    line-height: 40px;
    cursor: pointer;
}
#online-list span {
    display: block;
    margin-left: 45px;
}
#online-list li {
    padding: 5px 10px;
    height: 50px;
    line-height: 40px;
    cursor: pointer;
}
#online-list li img {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-right: 5px;
    float: left;
    margin-top: 5px;
}
#online-list li.active {
    background-color: #0084ff;
    color: white;
    position: relative;
}
#online-list li.active:after {
    content: "▶";
    color: #0084ff;
    display: block;
    position: absolute;
    right: -10px;
    top: 6px;
    z-index: 1;
}
.chat .emoticon {
    display: inline;
    position: relative;
    left: 2px;
    vertical-align: bottom;
    text-align: left;
    padding: 2px 7px;
    color: transparent;
}
