<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>Ting</title>
        <script src='bower_components/jquery/dist/jquery.min.js'></script>
        <script src='bower_components/angular/angular.min.js'></script>
        <script src='bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
        <script src='bower_components/angular-socket-io/socket.min.js'></script>
        <script src='bower_components/lodash/lodash.min.js'></script>
        <script src='socket.io/socket.io.js'></script>
        <script src='models/user.js'></script>
        <script src='models/channel.js'></script>
        <script src='models/message.js'></script>
        <script src='controllers/messages.js'></script>
        <script src='controllers/nicklist.js'></script>
        <script src='chat.js'></script>
        <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css' />
        <link rel='stylesheet/less' type='text/css' href='chat.less' />
        <script src='bower_components/less.js/dist/less.min.js'></script>
    </head>
    <body ng-app='chat'>
        <div id='splash'>
            <h1>Ting</h1>
            <!--
            <h2>Πληκτρολόγησε το όνομά σου για να ξεκινήσεις.</h2>

            <form>
                <input type='text' placeholder='Το όνομά σου' />
                <input type='submit' />
            </form>
            -->
        </div>
        <div id='chat'>
            <div id='nicklist' ng-controller='NicklistCtrl' class='col-md-3'>
                <ul>
                    <li ng-repeat='(nickname, user) in users'>
                        {{nickname}}
                    </li>
                </ul>
            </div>
            <div id='messages' ng-controller='MessagesCtrl' class='col-md-9'>
                <ol class='history'>
                    <li ng-repeat='message in messages'>
                        {{message.source}} λέει: {{message.text}}
                    </li>
                </ol>
                <form ng-submit='sendMessage()'>
                    <input type='text' ng-model='outgoingMessage' autofocus placeholder='Γράψε ένα μήνυμα...' />
                    <input type='submit' value='Στείλε' />
                </form>
            </div>
        </div>
    </body>
</html>
