#settings {
    width: 400px;
    margin: 40px auto 0 auto;
}
#settings #icon-username {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#icon-username h2 {
    margin-left: 12px;
}
#settings .icon {
    width: 100px;
    height: 150px;
    border: 1px solid black;
    overflow: hidden;
}
.icon img {
    height: 100px;
    width: 100px;
}
.icon span {
    padding: 4px 10px;
    border-top: 1px solid black;
    cursor: pointer;
    display: block;
}
#settings #form {
    margin-top: 50px;
}
#form .button {
    text-decoration: none;
}
.button button {
    color: white;
    background-color: #0084ff;
    border: 1px solid #0084ff;
    padding: 10px 0;
    width: 120px;
    display: block;
    margin: 40px auto 0 auto;
}
.no-gutters {
    margin-left: 0;
    margin-right: 0;
}
.no-gutters [class*='col-']:not(:first-child) {
    padding-right: 5px;
    padding-left: 0;
}
